---
layout: profileDefault
---
<div class="post-container">
	{% for post in paginator.posts %}
        <div class="post-list">
            {% if post.link %}
                <a class="post-title post-title-link" href="{{ post.link }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%Y.%m.%d" }}</time>
            {% else %}
                <a class="post-title" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date: "%Y.%m.%d" }}</time>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% include pagination.html %}
