<div class="page-wrapper" tabindex="-1" role="main">
  {% if page.cover %}
  <img src="{{ page.cover }}" width="100%" height="{{ page.cover_height | default: '100%' }}" alt="{{ page.title | escape }}" style="object-fit: cover" />
  {% endif %}

  <div class="page-inner">
    <div id="book-search-results">
      <div class="search-noresults">
        <section class="normal markdown-section">
          {% if page.title %}
          <h1 id="{{ page.id }}">
            {% if page.category` %} <a href="/#home-category" class="category"> <span>[{{ page.category | capitalize }}]</span> </a> - {% endif %} {{ page.title | escape }}
          </h1>
          {% else %}
          <h1 id="{{ page.id }}">
            {% if page.category` %} <a href="/#home-category" class="category"> <span>[{{ page.category | capitalize }}]</span> </a> - {% endif %} {{ site.title | escape }}
          </h1>
          {% endif %} {% if page.date %}
          <div class="date" style="text-align: right">
            <i class="fa fa-calendar"></i>
            <span>{{ page.date | date: "%B %-d, %Y" }}</span>
          </div>
          {% endif %} {% if page.tags %}
          <div class="tag">
            {% for tag in page.tags %}
            <a href="/#home-tag"> #<span class="badge badge-pill badge-primary">{{ tag | downcase }}</span> </a>
            {% endfor %}
          </div>
          <br />
          {% endif %} {{ content }}
        </section>
      </div>

      {%- include search.html -%}
    </div>
  </div>
</div>
