#main-navigation {
  width: 100%;
  margin-bottom: 10px;

		ul::-webkit-scrollbar {
			display: none;
		}

		ul {
			margin: 0;
			padding: 0;
			height: 40px;
			width: 100%;
			border: 1px solid var(--primary-color);
      list-style: none;
			overflow: auto;
			white-space: nowrap;
			li {
				display: inline-block;
				margin: 3px 3px;
				padding: 3px 15px;
				border: 1px solid var(--primary-font-color);
				border-radius: 30px;
			}
    }
}